apiVersion: v1
kind: Service
metadata:
  name: kafka-replayer-service
  namespace: default
  labels:
    app: kafka-replayer
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "9090"
    prometheus.io/path: "/metrics"
spec:
  selector:
    app: kafka-replayer
  type: ClusterIP
  ports:
    - name: metrics
      port: 9090
      targetPort: 9090
      protocol: TCP
